.select {
    max-width: 40px;
}
h1 {
    margin-top: 0px;
    margin-bottom: 10px;
}
.predictions {
    background-color: rgb(120, 16, 38);
    border-radius: 8px;
    color: white;
    margin: 0 auto;
    min-height: 100px;
}
.pform {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
}
label {
    color: white;
}
button {
    max-width: none;
    margin: 0;
}
.predictionHr {
    margin-top: 8px;
}