ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 150px;
    width: 300px;
    font-size: 20px;
}
.groupname {
    font-size: 25px;
    color: white;
}
.groupCard {
    color: white;
    border-style: solid;
    background-color: rgb(120, 16, 38);
    border-color: rgb(120, 16, 38);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 200ms, box-shadow 200ms;
}
.groupCard:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.groupCard:hover {
    transform: translateY(4px) translateX(4px);
}
a {
    color: black;
}
