.groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
}
h1 {
    font-family: 'Macondo', cursive;
    font-size: 35px;
}
a {
    color: black;
}
