.groupDetailsPage {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'sec1 sec2'
    'sec1 aside';
}
.sectionTwo {
    grid-area: sec2;
    background-color: rgb(120, 16, 38);
    border-radius: 8px;
    color: white;
    height: 225px;
    width: 80%;
    margin: 0 auto;
    transform: translateY(4px) translateX(4px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
h1 {
    font-family: 'Macondo', cursive;
    font-size: 40px;
}
.matches {
    grid-area: sec1;
    width: 80%;
    height: 90%;
    margin: 0 auto;
}
h2 {
    margin-top: 0px;
}
