.groupDetailsPage {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'sec1 sec2'
    'sec1 aside';
}
.sectionTwo {
    grid-area: sec2;
    height: 100%;
    background-color: rgb(120, 16, 38);
    border-radius: 8px;
    color: white;
}
h1 {
    font-family: 'Macondo', cursive;
    font-size: 40px;
}
.matches {
    grid-area: sec1;
    max-width: 90%;
    height: 90%;
    margin-right: 0px;
}
h2 {
    margin-top: 0px;
}
