body {
    height: 100vh;
}
.form-container {
    height: 30vh;
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
}
input {
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    margin-top: 8px;
}
label {
    color: rgb(120, 16, 38);
    margin-top: 5px;
}
button {
    max-width: 100px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: rgb(120, 16, 38);
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}
h3 {
    color: rgb(120, 16, 38);
    font-size: 18px;
}
.authHr {
    margin-top: 8px;
}
